@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  width: 110%;
  height: 10%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
}

.navbar-items * {
  transition: transform 200ms ease;
}

.search-container {
  margin-left: auto;
}

.search-container input {
  width: 15rem;
  height: 2rem;
}

.login {
  margin-left: auto;
  margin-right: 1rem;
}

.active {
  transform: translateY(-0.2rem);
}

.hero {
  position: relative;
  margin-top: 3.2rem;
  height: 50vh;
  width: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/hero.png");
}

.header-title {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-desc {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  width: 50vw;
}

.header-img {
  width: 100vw;
  z-index: -2;
}

.content-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.product-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #fff 2px solid;
  border-radius: 10px;
  padding-bottom: 0.5rem;
}

.product-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #212121;
}

.product-details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-details-desc {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-details-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.create-user-btns {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cart-products {
  display: flex;
  flex-direction: column;
}

.cart-product {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  border: 1px solid #fff;
}

.cart-product-name {
  width: 200px;
}
.cart-product-price {
  margin-right: 2rem;
}
.cart-product-quantity {
}
.cart-total {
}
